@font-face {
    font-family: 'Starborn';
    src: url('font/Starborn.ttf') format('truetype');
}

:root {
    --background: #f0f0f0;
    --foreground: #000;

    --button-background: #4bbfc7;
    --button-foreground: #000;
    --button-background-hover: #96e6a1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
}

h1 {
    font-family: 'Starborn', sans-serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;

    img {
        width: 100%;
        border-radius: 0.5rem;
    }

    .load-more {
        grid-column: span 3;
        padding: 0.5rem 1rem;
        background-color: var(--button-background);
        color: var(--button-foreground);
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--button-background-hover);
        }
    }
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.6rem;
}
